﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Tracking &amp; Invoicing (PTI)</title>
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/PTI-Help.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>
    <script type="text/javascript" src="~/Scripts/InvoicingPeriods.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
            integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
            crossorigin="anonymous"></script>
</head>
<body id="PageBody">
    @* When PM user logs in, they will be taken directly to their Projects list *@
    @* When higher permission user logs in, they will be taken directly to Project Manager Status Dashboard *@
    @{
        var pageName = ViewContext.RouteData.Values["controller"].ToString();
        int UserHighestPermission = (int)Session["PTIUserHighestGroupPermission"];
        bool CurrentSessionDisplayIsTheOpenSession = (PTI.Models.InvoicingPeriod.CurrentSessionPeriodDisplay() == PTI.Models.InvoicingPeriod.CurrentOpenPeriodDisplay());
    }

    <script>
        var g_UserPermission = @Html.Raw(UserHighestPermission);
        var g_root = "@Html.Raw(Request.ApplicationPath)";
        if (g_root == "/") g_root = "";
    </script>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="~/" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-home"></i></a>
            @if (UserHighestPermission >= 2)
            {
                <a href="~/ProjectTracking/ProjectManagers" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Project Managers</a>
            }

            @*Everyone can see All Projects tab - it filters projects appropriately by permission*@
            <a href="~/ProjectTracking/Projects" class="w3-bar-item w3-button w3-hide-small w3-hover-white">All Projects</a>

            @if (UserHighestPermission >= 4)
            {
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-button">System Tools <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="~/SystemTools/InvoicingPeriods" class="w3-bar-item w3-button">Invoicing Periods</a>
                        <a href="~/SystemTools/UpdateCurrentInvoicingPeriod" class="w3-bar-item w3-button">Update Current Invoicing Period Values</a>
                        <a href="~/SystemTools/Metadata" class="w3-bar-item w3-button">Metadata</a>
                    </div>
                </div>
            }
            @if (UserHighestPermission > 0)
            {
                <div id="divActivePeriod" class="w3-panel w3-border w3-light-gray w3-round w3-third" title="Click to select another period." onclick="OpenChangePeriodModal();">
                    <span id="spnCurrentActivePeriodName"><label id="lblCurrentActivePeriodName" data-periodopen="@CurrentSessionDisplayIsTheOpenSession">Invoicing Period: @PTI.Models.InvoicingPeriod.CurrentSessionPeriodDisplay()<i class="fa fa-chevron-down"></i></label></span>
                </div>
                <div id="ActivePeriodInstructions" class="w3-center w3-panel w3-yellow w3-third">
                    <label>To review project history, select the arrow above and choose an invoicing period to review.</label>
                </div>
            }
            <script>
                var bNoPeriodSet = ($("#lblCurrentActivePeriodName").html() == "Invoicing Period: Not Set");
                var NoOpenPeriodMsg = "Invoicing Period has not been set";
            </script>
            @if (pageName == "Home")
            {
                if (UserHighestPermission == 1) /*PMs load their projects from home page*/
                {
                    <script>
                        window.setTimeout(function () {
                            if (bNoPeriodSet) {
                                alert(NoOpenPeriodMsg);
                            }
                            else {
                                window.location = g_root + "/ProjectTracking/Projects/@Html.Raw(PTI.Models.Employee.InvoicingPeriodEmployeeIdForCurrentPeriod().ToString())";
                            }
                        }, 3500);
                    </script>
                }
                if (UserHighestPermission > 1) /*Users other than PMs load to Project Manager dashboard*/
                {
                    <script>
                        window.setTimeout(function () {
                            if (bNoPeriodSet) {
                                alert(NoOpenPeriodMsg);
                            }
                            else {
                                window.location = g_root + "/ProjectTracking/ProjectManagers";
                            }
                        }, 3500);
                    </script>
                }
            }

            @{
                string DisplayName = User.Identity.Name;
                if (DisplayName.Contains("\\"))
                {
                    DisplayName = DisplayName.Substring(DisplayName.LastIndexOf("\\") + 1);
                }
                DisplayName = System.Globalization.CultureInfo.InvariantCulture.TextInfo.ToTitleCase(DisplayName);
            }
            <label class="w3-right w3-padding">Network ID: <span style="text-decoration:underline;">@DisplayName</span>&nbsp;<span style="font-size:x-small;">(@Html.Raw(Session["PTIUserHighestGroupPermission"]))</span></label>
        </div>

    </div>

    <!--Begin Main Page Content-->
    @RenderBody()


    <!-- Modal Dialogs -->
    <div id="ModalChangeInvoicingPeriod" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top draggable" style="width:35vw;">
            <header class="w3-container w3-nei w3-display-container">
                <span onclick="$('#ModalChangeInvoicingPeriod').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4 id="ModalHeading" style="cursor: move;">Change Invoicing Period</h4>
            </header>
            <div class="w3-container">
                <div id="divClosedInvoicingPeriods">
                    <header class="w3-container">
                        <h4>Select a previously-closed invoicing period to review historical data.</h4>
                    </header>
                    <div class="w3-container">
                        <p>
                            <label for="selClosedInvoicingPeriods">Previously-Closed Invoicing Periods:</label>
                            <select id="selClosedInvoicingPeriods" onchange="SetClosedInvoicingPeriod();"></select>
                        </p>
                    </div>

                    <button class="w3-button w3-block w3-teal w3-hover-nei w3-hide" id="btnReturnToCurrentInvoicingPeriod" onclick="ReturnToCurrentInvoicingPeriod();">Return to Current Invoicing Period for This Session</button>
                </div>
            </div>
            <footer class="w3-container w3-white w3-border w3-padding">
                <div class="w3-bar">
                    <div class="w3-right">
                        <button id="btnInvoicingPeriodModalCancel" class="w3-bar-item w3-button w3-teal w3-round w3-small" onclick="ReturnToCurrentInvoicingPeriod(); $('#ModalChangeInvoicingPeriod').hide();">Return to Current Period</button>
                        <button id="btnInvoicingPeriodModalCancel" class="w3-bar-item w3-button w3-amber w3-round w3-small" style="margin-left:10px;" onclick="$('#ModalChangeInvoicingPeriod').hide();">Cancel</button>
                    </div>
                </div>
</footer>
        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
        <img src="~/Content/Images/nei_logo_white1.png" class="w3-image w3-center" style="width:100px;">
    </footer>

    <script>
        // Invoicing Periods
        var g_InvoicingPeriodOpenStatus = '@PTI.Models.Metadata.GetMetadataIdByTypeAndValue("InvoicingPeriodStatus", "Open")';
        var g_InvoicingPeriodClosedStatus = '@PTI.Models.Metadata.GetMetadataIdByTypeAndValue("InvoicingPeriodStatus", "Closed")';
        @{
            string UserSelectedInvoicingPeriod = "";
            if (Session["UserSelectedInvoicingPeriod"] != null)
            {
                UserSelectedInvoicingPeriod = Session["UserSelectedInvoicingPeriod"].ToString();
            }
        }
        var g_UserSelectedInvoicingPeriod = '@Html.Raw(UserSelectedInvoicingPeriod)';
        var g_NextAvailableInvoicingPeriodName = '@PTI.Models.Data.GetScalar("select top 1 InvoicingPeriodName from InvoicingPeriod where statusid is null and EndDate > GetDate() order by abs(datediff(day, getdate(), EndDate))", new string[] { }, "InvoicingPeriodName")';

        function OpenChangePeriodModal() {
            LoadClosedInvoicingPeriods();
            $("#ModalChangeInvoicingPeriod").show();
        }

        // Script for side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "300px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }

        // Close side navigation
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>


</html>
