﻿@model PTI.Models.SystemToolsViewModel
@{
    ViewData["Title"] = "Invoicing Periods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/FPCUpload.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>
<style>
    .invoicingperiodbutton {
        width: 250px;
    }
</style>

<script>
    var g_InvoicingPeriodOpenStatus = '@PTI.Models.Metadata.GetMetadataIdByTypeAndValue("InvoicingPeriodStatus", "Open")';
    var g_InvoicingPeriodClosedStatus = '@PTI.Models.Metadata.GetMetadataIdByTypeAndValue("InvoicingPeriodStatus", "Closed")';
    @{
        string UserSelectedInvoicingPeriod = "";
        if (Session["UserSelectedInvoicingPeriod"] != null)
        {
            UserSelectedInvoicingPeriod = Session["UserSelectedInvoicingPeriod"].ToString();
        }
    }
    var g_UserSelectedInvoicingPeriod = '@Html.Raw(UserSelectedInvoicingPeriod)';
    var g_NextAvailableInvoicingPeriodName = '@PTI.Models.Data.GetScalar("select top 1 InvoicingPeriodName from InvoicingPeriod where statusid is null and EndDate > GetDate() order by abs(datediff(day, getdate(), EndDate))", new string[] { }, "InvoicingPeriodName")';
</script>

<div class="w3-display-container w3-padding-top-24" style="min-height:95vh;">

    <div class="w3-container w3-padding-64">
        <h2 class="w3-center">Invoicing Periods</h2>

        <div class="w3-center">
            <p><label>Current Open Period: @PTI.Models.InvoicingPeriod.CurrentOpenPeriodDisplay()</label></p>
            <p><button type="button" id="btnOpenNextInvoicingPeriod" class="w3-button w3-teal w3-hover-nei w3-small w3-round invoicingperiodbutton" data-rowid="0" onclick="OpenNextInvoicingPeriod(this);">Open Next Invoicing Period</button></p>
            <p><button type="button" class="w3-button w3-orange w3-hover-nei w3-small w3-round invoicingperiodbutton" data-rowid="0" onclick="CloseCurrentPeriod(this);">Close Current Invoicing Period</button></p>
            <p><button type="button" class="w3-button w3-red w3-hover-nei w3-small w3-round invoicingperiodbutton" onclick="ShowResetPeriodWarning(this);">Reset Open Invoicing Period</button></p>
        </div>

        <div id="fpc_upload_on_hold">
            <h3 class="w3-center" style="margin-top:50px;">Data Transfer to DVP</h3>
            <div class="w3-center">
                <p><button type="button" id="btnFPCUpload" class="w3-button w3-amber w3-hover-nei w3-small w3-round invoicingperiodbutton" onclick="ShowFPCUploadWarning();">FPC Upload <i id="FPCUploadRunningSpinner" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true" style="display:none;"></i></button></p>
            </div>
            <div id="FPCUploadStatus" style="width:20vw;max-height:300px;margin-left:40vw;overflow-y:auto;"></div>
        </div>

    </div>


    <!-- Modal Dialog for Resetting Open Invoicing Period-->
    <div id="divModalResetOpenInvoicingPeriod" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top draggable">
            <header class="w3-container w3-nei w3-display-container">
                <span onclick="$('#divModalResetOpenInvoicingPeriod').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4 id="ModalHeading" style="cursor: move;">OPEN INVOICING PERIOD RESET WARNING!</h4>
            </header>
            <div class="w3-container">
                <h4><strong><span class="w3-text-red">WARNING:</span></strong></h4>
                <div style="margin-left:20px;">
                    <h4><strong>This will permanently erase ALL data for the current invoicing period including entries by Project Managers.</strong></h4>
                    <h4><strong>This action is not reversible.</strong></h4>
                    <p>Type YES into the box below to enable the RESET button.</p>
                    <br />
                    <p>Continue?&nbsp;&nbsp;<input type="text" id="txtResetWarningContinue" onkeyup="CheckResetWarningContinue();" /></p>
                </div>
            </div>

            <footer class="w3-container w3-white w3-border w3-padding">
                <div class="w3-bar">
                    <div class="w3-right">
                        <button id="btnResetModalRESET" class="w3-bar-item w3-button w3-red w3-round-large w3-disabled" onclick="ResetOpenInvoicingPeriod(this);">RESET</button>
                        <button id="btnResetModalCancel" class="w3-bar-item w3-button w3-amber w3-round-large" style="margin-left:10px;" onclick="$('#divModalResetOpenInvoicingPeriod').hide();">Cancel</button>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal Dialog for FPC Upload-->
    <div id="divModalFPCUpload" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top draggable">
            <header class="w3-container w3-nei w3-display-container">
                <span onclick="$('#divModalFPCUpload').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4 id="ModalHeading" style="cursor: move;">FPC UPLOAD</h4>
            </header>
            <div class="w3-container">
                <h4><strong><span class="w3-text-deep-orange">NOTICE:</span></strong></h4>
                <div style="margin-left:20px;">
                    <h4><strong>This process updates live Deltek Vantage Point Data.</strong></h4>
                    <h4><strong>This action is not reversible.</strong></h4>
                    <p>Type YES into the box below to enable the CONTINUE button.</p>
                    <br />
                    <p>Continue?&nbsp;&nbsp;<input type="text" id="txtFPCUploadContinue" onkeyup="CheckFPCUploadWarningContinue();" /></p>
                </div>
            </div>

            <footer class="w3-container w3-white w3-border w3-padding">
                <div class="w3-bar">
                    <div class="w3-right">
                        <button id="btnModalFPCUploadContinue" class="w3-bar-item w3-button w3-green w3-round-large w3-disabled" onclick="btnModalFPCUploadContinue_Click(this);">CONTINUE</button>
                        <button id="btnModalCancelFPCUpload" class="w3-bar-item w3-button w3-amber w3-round-large" style="margin-left:10px;" onclick="$('#divModalFPCUpload').hide();">Cancel</button>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        $(function () {
            //Hide NEI footer for more vertical space
            $("footer.w3-theme-d1").hide();
        });

        function OpenNextInvoicingPeriod(btn) {
            if (!$(btn).hasClass("w3-disabled")) {
                let NextInvoicingPeriod = prompt("Enter Invoicing Period to open:", g_NextAvailableInvoicingPeriodName);
                if (NextInvoicingPeriod.trim().length > 0) {
                    var PostData = { "PeriodName": NextInvoicingPeriod };
                    InvoicingPeriodAction('OpenPeriod', JSON.stringify(PostData), 'Invoicing period was opened successfully.');
                }
                else {
                    alert("Invoicing Period Not Entered");
                }
            }
        }

        function CloseCurrentPeriod(btn) {
            if (!$(btn).hasClass("w3-disabled")) {
                if (confirm("Are you sure you want to close the current invoicing period?")) {
                    InvoicingPeriodAction('CloseCurrent', '', 'Invoicing period was closed successfully.');
                }
            }
        }

        function InvoicingPeriodAction(ActionName, ActionData, SuccessAlertMsg) {
            $("button").attr("title", "Invoicing Period Action in Progress. Please wait...");
            $("button").addClass("w3-disabled");
            $.ajax({
                url: g_root + "/AjaxFunctions/InvoicingPeriod/" + ActionName,
                type: "POST",
                data: ActionData,
                contentType: "text/plain; charset=UTF-8",
                success: function (data) {
                    if (data.trim().toLowerCase() == "success") {
                        if (SuccessAlertMsg.length > 0) {
                            alert(SuccessAlertMsg);
                        }
                        window.location = g_root + "/SystemTools/InvoicingPeriods";
                    }
                    else {
                        alert(data.trim());
                    }
                    $("button").attr("title", "");
                    $("button").removeClass("w3-disabled");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var errorMsg = "Error performing invoicing period action '" + ActionName + "'. " + textStatus + ": " + errorThrown;
                    alert(errorMsg);
                    $("button").attr("title", "");
                    $("button").removeClass("w3-disabled");
                }
            });
        }

        function ShowResetPeriodWarning(btn) {
            if (!$(btn).hasClass("w3-disabled")) {
                $("#txtResetWarningContinue").val("");
                $("#btnResetModalRESET").addClass("w3-disabled");
                $("#divModalResetOpenInvoicingPeriod").show();
            }
        }

        function ShowFPCUploadWarning() {
            if (!$("#btnFPCUpload").hasClass("w3-disabled")) {
                $("#txtFPCUploadContinue").val("");
                $("#btnModalFPCUploadContinue").addClass("w3-disabled");
                $("#divModalFPCUpload").show();
            }
        }

        function CheckResetWarningContinue() {
            if ($("#txtResetWarningContinue").val() == "YES") {
                $("#btnResetModalRESET").removeClass("w3-disabled");
            }
            else {
                $("#btnResetModalRESET").addClass("w3-disabled");
            }
        }

        function CheckFPCUploadWarningContinue() {
            if ($("#txtFPCUploadContinue").val() == "YES") {
                $("#btnModalFPCUploadContinue").removeClass("w3-disabled");
            }
            else {
                $("#btnModalFPCUploadContinue").addClass("w3-disabled");
            }
        }

        function ResetOpenInvoicingPeriod() {
            if (!$("#btnResetModalRESET").hasClass("w3-disabled")) {
                if (confirm("FINAL WARNING: This will permanently erase ALL data for the current invoicing period including entries by Project Managers.\n\nThis action is not reversible.\n\nAre you sure you want to continue?")) {
                    InvoicingPeriodAction('ResetOpen', '', 'Invoicing period was reset successfully.');
                }
                else {
                    $("#divModalResetOpenInvoicingPeriod").hide();
                }
            }
        }

    </script>
