﻿@model PTI.Models.SystemToolsViewModel
@{
    ViewData["Title"] = "Metadata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Metadata.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>

<div class="w3-display-container w3-padding-top-16">

    <div class="w3-container w3-padding-64" style="min-height:84vh;">
        <h2 class="w3-center">Metadata</h2>

        <!-- Help Sidebar (reveals when clicked on menu icon)-->
        <nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:25px;right:0;z-index:2" id="helpSidebar">
            <a href="javascript:void(0)" onclick="closeHelp();" title="Close Help" class="w3-button w3-black w3-xlarge w3-display-topright" style="padding:0 12px;">
                <i class="fa fa-remove"></i>
            </a>
            <div class="w3-padding">
                <h1>Metadata Help</h1>
                <div id="HelpContent" class="w3-medium" style="max-height:60vh;overflow:auto;">

                    <!--
                    <button onclick="ToggleAccordion('a1');" class="w3-button w3-light-grey w3-block w3-left-align">Overview</button>
                    <div id="a1" class="w3-hide w3-border">
                        <div class="w3-container">
                            <p>The PTI appliction uses metadata for project data entry rules and messages, project questions and responses, project statuses</p>
                        </div>
                    </div>
                    <button onclick="ToggleAccordion('a2');" class="w3-button w3-light-grey w3-block w3-left-align">Values</button>
                    <div id="a2" class="w3-hide w3-border">
                        <div class="w3-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <button onclick="ToggleAccordion('a3');" class="w3-button w3-light-grey w3-block w3-left-align">Types</button>
                    <div id="a3" class="w3-hide w3-border">
                        <div class="w3-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    -->
                </div>

            </div>
        </nav>

        <div class="w3-container">
            <div class="w3-bar w3-black" style="width:100%;">
                <button class="w3-bar-item w3-button tabBtn w3-nei" onclick="openTab(this, 'tab-metadata', 'tabMetadataValues');MetadataTable.columns.adjust().draw();">Values</button>
                <button class="w3-bar-item w3-button tabBtn" onclick="openTab(this, 'tab-metadata', 'tabMetadataTypes');">Types</button>
                <i class="fa-solid fa-circle-info w3-white"></i>
                <a href="javascript:openHelp();" class="w3-xlarge" style="float:right;margin-right:10px;margin-top:2px;" title="Metadata Help"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </div>

            <div id="tabMetadataValues" class="w3-border w3-padding tab-metadata" style="height: 61vh; ">
                <h2>Values</h2>
                <div class="w3-half">
                    <table id="tblMetadata" class="w3-table w3-small" style="width:100%;">
                        <thead>
                            <tr><th>&nbsp;</th><th>Type</th><th>Value</th><th>Connections</th><th style="text-align:center;">Active</th><th style="text-align:center;">System</th></tr>
                        </thead>
                        <tbody id="MetadataList"></tbody>
                    </table>
                    <button type="button" class="w3-button w3-teal w3-hover-nei w3-small w3-round" onclick="OpenMetadataEditForm(this);">Add New</button>
                </div>
            </div>

            <div id="tabMetadataTypes" class="w3-border w3-padding tab-metadata" style="display: none; height: 61vh; overflow: auto;">
                <h2>Types</h2>
                <h4 class="w3-text-nei"><strong>Note:</strong> Metadata Types are system records. Use caution when making changes.</h4>
                <div class="w3-half">
                    <!--<button type="button" class="w3-button w3-small w3-teal w3-hover-nei w3-round" onclick="NewMetadataTypeRow();" title="Add New" style="float:left;"><i class="fa fa-plus"></i></button>-->
                    <button type="button" class="w3-button w3-teal w3-hover-nei w3-small w3-round" onclick="NewMetadataTypeRow();">Add New</button>
                    <input class="w3-input w3-border w3-padding" type="text" placeholder="Filter list.." id="FilterMetadataTypes" onkeyup="FilterList(this);">
                    <ul id="MetadataTypeList" class="w3-ul w3-border w3-centered"></ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Metadata Edit Modal Dialog-->
<div id="MetadataEditForm" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="width:30vw;">
        <header class="w3-container w3-nei w3-display-container">
            <span onclick="$('#MetadataEditForm').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4>Metadata Details</h4>
        </header>
        <div class="w3-container">
            <div class="w3-row-padding">
                <label for="selMetadataType">Type</label>
                <select class="w3-select w3-input w3-border" id="selMetadataType"><option value="0">Select a Type</option></select>
                <label for="txtMetadataValue">Value</label>
                <input id="txtMetadataValue" class="w3-input w3-border" type="text" />
                <div class="w3-half">
                    <label for="chkActiveFlag">Active</label>
                    <input id="chkActiveFlag" class="w3-input w3-check w3-border" type="checkbox" checked="checked" />
                </div>
                <div class="w3-half">
                    <label for="chkSystemFlag">System</label>
                    <input id="chkSystemFlag" class="w3-input w3-check w3-border" type="checkbox" />
                </div>
                <input id="txtMetadataId" type="hidden" value="" />
                <input id="txtMetadataPredicates" type="hidden" value="" />
            </div>
        </div>
        <footer class="w3-container w3-white w3-border w3-padding" style="margin-top:15px;">
            <div class="w3-bar">
                <div class="w3-right">
                    <button class="w3-bar-item w3-button w3-teal w3-round w3-small" id="btnSaveMetadata" onclick="SaveMetadata();">Save</button>
                    <button class="w3-bar-item w3-button w3-amber w3-round w3-small" style="margin-left:10px;" onclick="$('#MetadataEditForm').hide();">Cancel</button>
                </div>
            </div>
        </footer>
    </div>
</div>

<!--Metadata Predicates Edit Modal Dialog-->
<div id="MetadataPredicatesEditForm" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top" style="width:50vw;">
        <header class="w3-container w3-nei w3-display-container">
            <span onclick="$('#MetadataPredicatesEditForm').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4 id="MetadataPredicatesHeader">Metadata Connections</h4>
            <input type="hidden" id="MetadataPredicatesRowId" value="" />
        </header>
        <div class="w3-container" id="divMetadataPredicates">
        </div>
        <footer class="w3-container w3-white w3-border w3-padding" style="margin-top:15px;">
            <div class="w3-bar">
                <div class="w3-right">
                    <button class="w3-bar-item w3-button w3-teal w3-round w3-small" id="btnSaveMetadataPredicates" onclick="SaveMetadataPredicates();">Save</button>
                    <button class="w3-bar-item w3-button w3-amber w3-round w3-small" style="margin-left:10px;" onclick="$('#MetadataPredicatesEditForm').hide();">Cancel</button>
                </div>
            </div>
        </footer>
    </div>
</div>

<script>
    $(function () {
        PTIHelp.GetPageHelp("SystemTools/Metadata");
    });

    // Open and close sidebar
    function openHelp() {
        $("#helpSidebar").css("width", "25vw").css("display", "block");
    }

    function closeHelp() {
        $("#helpSidebar").hide();
    }

    //Accordion display
    function ToggleAccordion(SectionId) {
        var DisplayDiv = $("#" + SectionId);
        $(DisplayDiv).toggleClass("w3-hide");
    }
</script>