﻿@model PTI.Models.SystemToolsViewModel
@{
    ViewData["Title"] = "Update Invoicing Period Values";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var g_CurrentOpenPeriodDisplay = '@Html.Raw(PTI.Models.InvoicingPeriod.CurrentOpenPeriodDisplay())';
    var g_CurrentOpenPeriodId = '@Html.Raw(PTI.Models.InvoicingPeriod.CurrentOpenPeriodId())';
</script>

<script type="text/javascript" src="~/Scripts/UpdateCurrentInvoicingPeriod.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>

<style>
    th {
        vertical-align: bottom !important;
    }
</style>

<div class="w3-display-container" style="min-height:85vh;">
    <div class="w3-display-container w3-padding-top-24">
        <h2 class="w3-center">Update Current Invoicing Period Values</h2>
        <h3 class="w3-center" id="InvoicingPeriodHeader"></h3>


        <div class="w3-container" id="DivMain">
            <div id="StartButtons" class="PageStartDisplay">
                <button type="button" class="w3-button w3-small w3-teal w3-hover-nei w3-round" onclick="GetDVPChanges();">Query DVP for Changes</button>
            </div>
            <div id="ReviewButtons" class="DataLoadedDisplay" style="display:none;">
                <button id="btnUpdateValues" type="button" class="w3-button w3-small w3-teal w3-hover-nei w3-round" onclick="UpdateValues();">Update Values</button>
                <button id="btnExportTable" type="button" class="w3-button w3-small w3-teal w3-hover-nei w3-round" onclick="ExportTable();">Export Table</button>
                <button id="btnCancel" type="button" class="w3-button w3-small w3-amber w3-hover-nei w3-round" onclick="btnCancel_click();">Cancel</button>
            </div>

            <div id="DivResults">
                <span id="spnLoading" style="display:none;">loading...</span>
                <div id="divAllData" class="DataLoadedDisplay" style="display:none;">
                    <div class="w3-tiny" style="position:absolute;padding:15px;z-index:1;display:none;"> <!--Controls for expand/collapse all here for future functionality if desired-->
                        <span>
                            <a href="javascript:ShowHideAll('Show');">Expand All</a> / <a href="javascript:ShowHideAll('Hide');">Collapse All</a>
                        </span>
                    </div>
                    <table id="tblValues" class="w3-table w3-striped w3-small" width="100%">
                        <thead id="tblValuesHead">
                            <tr><th class="dataentryshowhide"></th><th style="min-width:320px;"><span id="spnResultsCount"></span></th><th>PTI Spent Total</th><th>DVP Spent Total</th><th>Spent Total Difference</th><th>PTI Exp Unbilled</th><th>DVP Exp Unbilled</th><th>Exp Unbilled Difference</th><th>PTI WIP Total</th><th>DVP WIP Total</th><th>WIP Total Difference</th><th>PTI WIP Current</th><th>DVP WIP Current</th><th>WIP Current Difference</th><th>PTI WIP Held</th><th>DVP WIP Held</th><th>WIP Held Difference</th></tr>
                        </thead>
                        <tbody id="tblValuesData"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dialog for exporting table-->
<div id="divModal" class="w3-modal" data-saveref="">
    <div class="w3-modal-content w3-card-4 w3-animate-top draggable">
        <header class="w3-container w3-nei w3-display-container">
            <span onclick="$('#divModal').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4 id="ModalHeading" style="cursor: move;">Export Table</h4>
        </header>
        <div class="w3-container">
            <div id="modalTableData" style="max-height:500px;overflow-y:auto;"></div>
        </div>
        <footer class="w3-container w3-white w3-border w3-padding">
            <div class="w3-bar">
                <button id="btnModalCancel" class="w3-bar-item w3-button w3-amber w3-right w3-round-large" onclick="$('#divModal').hide();">Cancel</button>
            </div>
        </footer>
    </div>
</div>
