﻿/*NEI Styles*/

body {
    font-family: proxima nova,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

div.light-box-shadow {
    box-shadow: 5px 5px 5px darkslategray !important;
}

/*Watermark Styles*/
div.watermark {
    height: 450px;
    width: 600px;
    position: relative;
    overflow: hidden;
}

#watermark p {
    margin-top: -70px;
    color: blue;
    opacity: .2;
    font-size: 3em;
    pointer-events: none;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

input[type="text"].tbleditbox {
    padding: 2px 1px;
    line-height: 8px;
    outline: solid 1px orange;
    width: 100px;
    text-align:right;
}

/*table styles*/
.dataentryshowhide {
    max-width:7px !important;
    padding: 2px !important;
}

td.invoicingcheck {
    color:black;
}

td.wipcheck.warn {
    color:red;
    border: 1px dotted red;
}

tr.thin {
    line-height: 10px;
}

tr.client {
    background-color: gainsboro !important;
}

tr.project > td {
    background-color: #6495ED !important;
}

tr.projectpriorperiod > td {
    background-color: bisque !important;
}

tr.phase > td {
    background-color: #87CEFA !important;
}

tr.subphase {
    background-color: white !important;
}

td.maindesc {
    min-width: 10vw;
}

td.phasedesc {
    padding-left: 15px !important;
}

td.subphasedesc {
    padding-left: 30px !important;
}

td.moneycell {
    text-align: right !important;
}

td.pctcell {
    text-align: right !important;
}

td.numcell {
    text-align: right !important;
}

td.buttoncell {
    text-align: center;
}

td.buttoncell > button {
    cursor: pointer;
}


td.highlight {
    background-color: yellow !important;
}

td.highlight.gray {
    background-color: darkgray !important;
}

td.hltOrange {
    background-color: orange !important;
}

label.editable {
    cursor: pointer;
}

button.dt-button {
    height:30px !important;
    font-size:10px !important;
    border-radius: 8px !important;
}

#divActivePeriod {
    position:absolute;
    top:-16px;
    left:33.4vw;
    cursor: pointer;
    max-height: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index:101;
}

#ActivePeriodInstructions {
    position: absolute;
    top: 8px;
    left: 35vw;
    max-width: 575px;
    font-size: .68em;
    font-weight:bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#spnCurrentActivePeriodName {
    vertical-align:unset;
    position:relative;
    font-size:1.1em;
    text-align:center;
    white-space:nowrap;
}

#lblCurrentActivePeriodName {
    cursor: pointer;
    margin-left: 3vw;
    white-space: nowrap;
}

#divPeriodClickInstructions{
    position:absolute;
    font-size:.7em;
}

