﻿@model PTI.Models.ProjectTrackingViewModel
@{
    ViewData["Title"] = "Project Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var g_TableMetadata = @Html.Raw(PTI.Models.Metadata.GetTableMetadataJSON("InvoicingPeriodEmployee"));
</script>

<div class="w3-display-container w3-padding-top-24" style="min-height:100vh;">

    <div class="w3-container w3-padding-16 w3-center">

        <h2>Project Manager Status Dashboard</h2>
        <div style="width:50vw;margin-left:25vw;">
            <table id="tblEmployees" class="w3-table w3-striped">
                <thead>
                    <tr><th>Project Manager</th><th>Status</th><th>Approval</th><th>Invoicing</th></tr>
                </thead>
                <tbody id="EmployeeRows">
                    <tr><td colspan="4">loading...</td></tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<script>
    var EmployeeTable;
    var EmployeeRowHTMLTemplate = "<tr class=\"thin\"'><td><a href='" + g_root + "/ProjectTracking/Projects/~empid~'>~employeename~</a></td><td>~status~</td><td>~approval~</td><td>~invoicing~</td></tr>";
    $(function () {
        //Page ready
        Load();
    });

    function Load() {
        $.ajax({
            url: g_root + "/AjaxFunctions/Project/AllPMsWithProjectsInPeriod",
            type: "POST",
            data: "",
            contentType: "text/plain; charset=UTF-8",
            success: function (data) {
                //Load table rows
                $("#EmployeeRows").html("");
                if (data.trim().length > 0) {
                    var jData = JSON.parse(data.trim());
                    $(jData).each(function () {
                        var thisRow = EmployeeRowHTMLTemplate.replace(/~empid~/ig, this.InvoicingPeriodEmployeeId);
                        var ApprovalLabel = this.ApprovedProjectCount + " out of " + this.ProjectCount + " Approved"
                        thisRow = thisRow.replace(/~employeename~/ig, this.EmployeeName);
                        thisRow = thisRow.replace(/~status~/ig, GetMetadataName(this.StatusId));
                        thisRow = thisRow.replace(/~approval~/ig, ApprovalLabel);
                        thisRow = thisRow.replace(/~invoicing~/ig, GetMetadataName(this.InvoicingStatusId));
                        $("#EmployeeRows").append(thisRow);
                    });
                }

                //Init datatable
                EmployeeTable = $("#tblEmployees").DataTable({
                    scrollY: 700,
                    scrollCollapse: true,
                    paging: false,
                    stateSave: true
                });
            }
        });
    }

    function GetMetadataName(Id) {
        var Name = "";
        var Metadata = g_TableMetadata.find(x => { return x.MetadataId === Id });
        if (Metadata) {
            Name = Metadata.MetadataName;
        }
        return Name;
    }
</script>
