﻿@model PTI.Models.ProjectTrackingViewModel
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var g_TableMetadata = @Html.Raw(PTI.Models.Metadata.GetTableMetadataJSON("InvoicingPeriodProject"));
    var g_InvoicingPeriodEmployeeIdForSelectedPeriod = '@Html.Raw(PTI.Models.InvoicingPeriodEmployee.GetEmployeeIdForCurrentPeriodByAnotherPeriod(Model.id))';
</script>

@*Hidden input for querystring id value*@
<input type="hidden" id="id" name="id" value="@Model.id" />
@Html.HiddenFor(m => m.AllProjectsMode)

<div class="w3-display-container w3-padding-top-24" style="min-height:85vh;">

    <div class="w3-container w3-padding-16 w3-center">
        @if (Model.AllProjectsMode)
        {
            <h2>All Projects Status Process Dashboard</h2>
        }
        else
        {
            <h2>Project Status Process Dashboard</h2>
            <h4 id="hdrProjectManager">Project Manager:&nbsp;<label id="lblEmployeeName" style="text-decoration:underline;font-weight:bold;"></label></h4>
        }
        <div id="divProjects" style="width:90vw;margin-left:5vw;margin-top:20px;">
            <table id="tblProjects" class="w3-table w3-striped">
                @if (Model.AllProjectsMode)
                {
                    <thead>
                        <tr><th>Project</th><th>Project Manager</th><th>Status</th><th>Approval</th><th>On Hold</th><th>DVP Data Entry</th><th>Inv Sent To PM</th><th>Invoicing</th></tr>
                    </thead>
                    <tbody id="ProjectRows">
                        <tr><td colspan="5">loading...</td></tr>
                    </tbody>
                }
                else
                {
                    <thead>
                        <tr><th>Project</th><th>Status</th><th>Approval</th><th>On Hold</th><th>DVP Data Entry</th><th>Inv Sent To PM</th><th>Invoicing</th></tr>
                    </thead>
                    <tbody id="ProjectRows">
                        <tr><td colspan="4">loading...</td></tr>
                    </tbody>
                }
            </table>
        </div>
    </div>

</div>

<script>
    var AllProjects = $("#AllProjectsMode").val();
    var ProjectTable;
    var g_UncheckedBox = "<i class='fa fa-square-o' aria-hidden='true'></i>";
    var g_CheckedBox = "<i class='fa fa-check-square-o' aria-hidden='true'></i>";

    $(function () {
        //Page ready
        Load();
        setCookie("LastProjectsPageURL", window.location.href, 1);
    });

    function Load() {
        if (AllProjects == "True") {
            console.log("Loading all projects...");
            LoadAllProjects();
        }
        else {
            var id = $("#id").val()
            if (id == g_InvoicingPeriodEmployeeIdForSelectedPeriod) {
                LoadPMProjects();
            }
            else {
                //if ($("#lblEmployeeName").html().trim().length > 0) {
                if ($("#id").val() == "00000000-0000-0000-0000-000000000000") {
                    $("#hdrProjectManager").hide();
                    $("#divProjects").html("<h3>No Projects Found</h3>");
                }
                else {
                    var PageURL = window.location.href;
                    var RedirectURL = PageURL.replace(id, g_InvoicingPeriodEmployeeIdForSelectedPeriod);
                    window.location = RedirectURL;
                }
            }
        }
    }

    function LoadAllProjects() {
        var ProjectRowHTMLTemplate = "<tr class=\"thin\"'><td><a href='" + g_root + "/ProjectTracking/ProjectData/~projectid~'>~projectname~</a></td><td><a href='" + g_root + "/ProjectTracking/Projects/~projectmanagerid~'>~projectmanager~</a></td><td>~status~</td><td>~approval~</td><td data-sort='~onholdsort~' style='text-align:center;'>~onhold~</td><td data-sort='~dvpdataentrysort~' style='text-align:center;'>~dvpdataentry~</td><td data-sort='~invsenttopmsort~' style='text-align:center;'>~invsenttopm~</td><td>~invoicing~</td></tr>";

        $.ajax({
            url: g_root + "/AjaxFunctions/Project/AllProjects",
            type: "POST",
            data: $("#id").val(),
            contentType: "text/plain; charset=UTF-8",
            success: function (data) {
                //Load table rows
                var jData = JSON.parse(data.trim());
                $("#ProjectRows").html("");
                if (jData.length > 0) {
                    $(jData).each(function () {
                        var thisRow = ProjectRowHTMLTemplate.replace(/~projectid~/ig, this.Id);
                        thisRow = thisRow.replace(/~projectmanagerid~/ig, this.InvoicingPeriodEmployeeId);
                        thisRow = thisRow.replace(/~projectname~/ig, this.WBS1 + " " + this.Name);
                        thisRow = thisRow.replace(/~projectmanager~/ig, this.LastName + ", " + this.FirstName);
                        thisRow = thisRow.replace(/~status~/ig, GetMetadataName(this.StatusId));
                        thisRow = thisRow.replace(/~approval~/ig, GetMetadataName(this.ApprovalStatusId));
                        thisRow = thisRow.replace(/~onholdsort~/ig, (this.OnHold == "Y") ? "1" : "0");
                        thisRow = thisRow.replace(/~onhold~/ig, (this.OnHold == "Y") ? g_CheckedBox : g_UncheckedBox);
                        thisRow = thisRow.replace(/~dvpdataentrysort~/ig, (this.DVPDataEntryComplete == "true") ? "1" : "0");
                        thisRow = thisRow.replace(/~dvpdataentry~/ig, (this.DVPDataEntryComplete == "true") ? g_CheckedBox : g_UncheckedBox);
                        thisRow = thisRow.replace(/~invsenttopmsort~/ig, (this.InvoiceSentToPM == "true") ? "1" : "0");
                        thisRow = thisRow.replace(/~invsenttopm~/ig, (this.InvoiceSentToPM == "true") ? g_CheckedBox : g_UncheckedBox);
                        thisRow = thisRow.replace(/~invoicing~/ig, GetMetadataName(this.InvoicingStatusId));
                        $("#ProjectRows").append(thisRow);
                    });

                    //Init datatable
                    EmployeeTable = $("#tblProjects").DataTable({
                        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                        scrollY: 675,
                        scrollCollapse: true,
                        paging: true,
                        stateSave: true
                    });
                }
                else {
                    $("#ProjectRows").append("<tr><td colspan='4'>No Projects To Display</td></tr>");
                }

            }
        });
    }

    function LoadPMProjects() {
        var ProjectRowHTMLTemplate = "<tr class=\"thin\"'><td><a href='" + g_root + "/ProjectTracking/ProjectData/~projectid~'>~projectname~</a></td><td>~status~</td><td>~approval~</td><td data-sort='~onholdsort~' style='text-align:center;'>~onhold~</td><td data-sort='~dvpdataentrysort~' style='text-align:center;'>~dvpdataentry~</td><td data-sort='~invsenttopmsort~' style='text-align:center;'>~invsenttopm~</td><td>~invoicing~</td></tr>";

        $.ajax({
            url: g_root + "/AjaxFunctions/Project/EmployeeName",
            type: "POST",
            data: $("#id").val(),
            contentType: "text/plain; charset=UTF-8",
            success: function (data) {
                $("#lblEmployeeName").html(data.trim());
            }
        });

        $.ajax({
            url: g_root + "/AjaxFunctions/Project/AllProjectsForEmployee",
            type: "POST",
            data: $("#id").val(),
            contentType: "text/plain; charset=UTF-8",
            success: function (data) {
                //Load table rows
                var jData = JSON.parse(data.trim());
                console.log(jData);
                $("#ProjectRows").html("");
                $(jData).each(function () {
                    var thisRow = ProjectRowHTMLTemplate.replace(/~projectid~/ig, this.Id);
                    thisRow = thisRow.replace(/~projectname~/ig, this.WBS1 + " " + this.Name);
                    thisRow = thisRow.replace(/~status~/ig, GetMetadataName(this.StatusId));
                    thisRow = thisRow.replace(/~approval~/ig, GetMetadataName(this.ApprovalStatusId));
                    thisRow = thisRow.replace(/~onholdsort~/ig, (this.OnHold == "Y") ? "1" : "0");
                    thisRow = thisRow.replace(/~onhold~/ig, (this.OnHold == "Y") ? g_CheckedBox : g_UncheckedBox);
                    thisRow = thisRow.replace(/~dvpdataentrysort~/ig, (this.DVPDataEntryComplete == "true") ? "1" : "0");
                    thisRow = thisRow.replace(/~dvpdataentry~/ig, (this.DVPDataEntryComplete == "true") ? g_CheckedBox : g_UncheckedBox);
                    thisRow = thisRow.replace(/~invsenttopmsort~/ig, (this.InvoiceSentToPM == "true") ? "1" : "0");
                    thisRow = thisRow.replace(/~invsenttopm~/ig, (this.InvoiceSentToPM == "true") ? g_CheckedBox : g_UncheckedBox);
                    thisRow = thisRow.replace(/~invoicing~/ig, GetMetadataName(this.InvoicingStatusId));
                    $("#ProjectRows").append(thisRow);
                });

                //Init datatable
                EmployeeTable = $("#tblProjects").DataTable({
                    scrollY: 700,
                    scrollCollapse: true,
                    paging: false,
                    stateSave: true
                });
            }
        });
    }

    function GetMetadataName(Id) {
        var Name = "";
        var Metadata = g_TableMetadata.find(x => { return x.MetadataId === Id });
        if (Metadata) {
            Name = Metadata.MetadataName;
        }
        return Name;
    }
</script>

