﻿@model PTI.Models.ProjectTrackingViewModel
@{
    ViewData["Title"] = "Project Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/ProjectData.js?v=@Html.Raw(Guid.NewGuid().ToString())"></script>

<style>
    .dataTables_wrapper {
        margin-top: -20px;
    }

    table.dataTable th {
        vertical-align: bottom !important;
        padding-bottom: 0px !important;
    }

    .notes-button {
        margin-left: 25%;
    }
</style>

<script>
    var g_TableMetadata = @Html.Raw(PTI.Models.Metadata.GetTableMetadataJSON("InvoicingPeriodProject"));
    var g_AllEmployees = @Html.Raw(PTI.Models.Data.RunSelectQueryJSON("select Id, LastName, FirstName from Employee order by LastName, FirstName", new string[] { }));
    var g_RevenueMethods = @Html.Raw(PTI.Models.Data.RunSelectQueryJSON("select distinct RevenueMethod from InvoicingPeriodData order by RevenueMethod", new string[] { }));
    var g_PhaseStatuses = @Html.Raw(PTI.Models.Data.RunSelectQueryJSON("select distinct PhaseStatus from InvoicingPeriodData order by PhaseStatus", new string[] { }));
    var g_MetadataPredicates = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("MetadataPredicate"));
    var g_Rules = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("Rule"));
    var g_RuleMessages = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("RuleMessage"));
    var g_RuleOverrides = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("RuleOverride"));
    var g_RuleQuestions = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("Question"));
    var g_QuestionResponses = @Html.Raw(PTI.Models.Metadata.GetMetadataJSONByTypeName("Response"));
    var g_InvoicingPeriodProjectIdForSelectedPeriod = '@Html.Raw(PTI.Models.InvoicingPeriodProject.GetInvoicingProjectIdForSelectedPeriodByCurrentPeriodId(Model.id))';
    var g_ProjectDataPreviousPeriod = @Html.Raw(PTI.Models.InvoicingPeriodData.PreviousPeriodProjectLevelDataJSON(Model.id));
    var g_IsTeamLead = @Html.Raw(Convert.ToString(PTI.Models.Employee.IsTeamLeadForProject(Model.id)).ToLower());
</script>

@*Hidden input for querystring id value*@
@Html.HiddenFor(m => m.id)

<div class="w3-display-container w3-padding-top-24" style="min-height:100vh;">

    <div class="w3-row-padding w3-center w3-padding-24">
        <h2 style="margin-top:-12px;">Project Tracking Data Entry</h2>
        <button type="button" class="w3-button w3-small w3-hover-nei w3-round" style="position:absolute;left:25px;top:50px;" id="btnGotoProjects" onclick="window.location = getCookie('LastProjectsPageURL');"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Projects</button>

        <div class="w3-container">

            <h4 style="position:absolute;width:40%;margin-top:3px;margin-left:29%;color:white;">Project Manager:&nbsp;<label id="lblEmployeeName" style="text-decoration:underline;font-weight:bold;"></label></h4>
            <div class="w3-bar w3-black" style="width:100%;">
                <button class="w3-bar-item w3-button tabBtn w3-nei" data-tab="ETC" onclick="openTab(this, 'dataentry', 'tabEstToComplete'); g_tblETC.draw();">Estimate To Complete</button>
                <button class="w3-bar-item w3-button tabBtn" data-tab="Project" onclick="openTab(this, 'dataentry', 'tabProjDetails'); g_tblPrjDetails.draw();">Project Details</button>
                <button class="w3-bar-item w3-button tabBtn" data-tab="Invoicing" onclick="openTab(this, 'dataentry', 'tabInvoicing'); g_tblInvoicing.draw();">Invoicing</button>
            </div>
            <span style="position:absolute;float:right;margin-left:-252px;margin-top:2px;">
                <button id="btnSubmit" class="w3-button w3-small w3-teal w3-hover-nei w3-round-large" style="width:250px;" onclick="btnSubmit_click();">Submit</button>
                <button id="btnApprove" class="w3-button w3-small w3-teal w3-hover-nei w3-round-large w3-hide" style="width:250px;" onclick="btnApprove_click();">Approve</button>
                <button id="btnFinalApproval" class="w3-button w3-small w3-teal w3-round-large w3-hide" style="width:250px;">Approved for Invoicing (Read Only)</button>
                <button id="btnReviewIssues" class="w3-button w3-small w3-amber w3-hover-nei w3-round-large w3-hide" style="width:250px;font-weight:bold;" onclick="OpenModal('Issues', this);">Review Issues</button>
            </span>
            <span style="position:absolute;float:right;margin-left:-252px;margin-top:2px;">
                <button id="btnUndo" class="w3-button w3-small w3-amber w3-hover-nei w3-round-large w3-hide" data-mode="undefined" style="width:150px;margin-left:-151px;" onclick="btnUndo_click();">Unsubmit/Return to PM/ Unapprove</button>
            </span>

            <div id="tabEstToComplete" class="w3-border dataentry" style="min-height: 400px;">
                <div class="w3-tiny" style="position:absolute;padding:15px;z-index:1;">
                    <span>
                        <a href="javascript:ShowHideAll('Show');">Expand All</a> / <a href="javascript:ShowHideAll('Hide');">Collapse All</a><a href="javascript:ToggleSubphaseStatusDisplay();" class="lnkActiveSubphaseToggle" style="margin-left: 100px; width: 120px;">Show Active Status Only</a>
                    </span>
                </div>
                <button type="button" onclick="OpenModal('ExportTable');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large" style="float:right;margin-top:2px;margin-right:16px;z-index:1;">Export Table</button>
                <h4 style="font-weight:bold;margin-top:-5px;">Estimate To Complete</h4>                
                <div>
                    <button type="button" id="btnETCCarryNotesForward" onclick="CarryNotesForward(this, 'ETC');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large carry-notes-forward" style="float:right;margin-right:2px;padding:3px;z-index:1;">Carry All Notes Forward</button>
                    <input type="checkbox" id="chkETCCarryNotesForward" title="chkETCCarryNotesForward" style="display:none;" />
                    <table id="tblETC" class="w3-table w3-striped w3-small" width="100%">
                        <thead id="tblETCHead">
                            <tr><th class="dataentryshowhide"></th><th><label class="lblClientName"></label></th><th>Status</th><th>Phase Mgr</th><th>Total&nbsp;T&amp;E<br />NTE&nbsp;Limit</th><th>Compensation</th><th>Invoiced</th><th>Spent Total</th><th>Spent&nbsp;%</th><th>Variance</th><th># Hours to Complete</th><th>Current Rate</th><th>Est&nbsp;Exp</th><th>Risk</th><th>Est to Complete</th><th>Calc EAC</th><th>Calc FPC</th><th>Prior EAC</th><th>Notes&nbsp;/<br />Questions</th></tr>
                        </thead>
                        <tbody id="tblETCData"></tbody>
                    </table>
                </div>
            </div>

            <div id="tabProjDetails" class="w3-border dataentry" style="display: none; min-height: 400px;">
                <div class="w3-tiny" style="position:absolute;padding:15px;z-index:1;">
                    <span>
                        <a href="javascript:ShowHideAll('Show');">Expand All</a> / <a href="javascript:ShowHideAll('Hide');">Collapse All</a><a href="javascript:ToggleSubphaseStatusDisplay();" class="lnkActiveSubphaseToggle" style="margin-left: 100px; width: 120px;">Show Active Status Only</a>
                    </span>
                </div>
                <button type="button" onclick="OpenModal('ExportTable');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large" style="float:right;margin-top:2px;margin-right:16px;z-index:1;">Export Table</button>
                <span class="w3-small" style="font-weight:bold;position:absolute;left:82vw;top:145px;z-index:100;"><input type="checkbox" id="chkDVPDataEntryComplete" onchange="SaveProjectFlagAsNote(this);" />&nbsp;<label for="chkDVPDataEntryComplete">DVP Data Entry Complete</label></span>
                <h4 style="font-weight: bold; margin-top: -5px;">Project Details</h4>
                <button type="button" id="btnProjectOnHold" onclick="ProjectOnHold_click();" class="w3-button w3-tiny w3-amber w3-hover-nei w3-round-large" style="margin-top:-63px;margin-left:40vw;">Project On Hold</button>
                <button type="button" id="btnProjectCarryNotesForward" onclick="CarryNotesForward(this, 'Project');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large carry-notes-forward" style="float:right;margin-right:2px;padding:3px;z-index:1;">Carry All Notes Forward</button>
                <input type="checkbox" id="chkProjectCarryNotesForward" title="chkProjectCarryNotesForward" style="display:none;" />
                <table id="tblPrjDetails" class="w3-table w3-striped w3-small" width="100%">
                    <thead id="tblPrjDetailsHead">
                        <tr><th class="dataentryshowhide"></th><th><label class="lblClientName"></label></th><th style="text-align:right;">AR Amt</th><th>Status</th><th>New Status</th><th>Phase Mgr</th><th>New Phase Mgr</th><th>Est End Date</th><th>New Est End&nbsp;Date</th><th>Revenue Method</th><th>New Revenue Method</th><th>Project Notes</th></tr>
                    </thead>
                    <tbody id="tblPrjDetailsData"></tbody>
                </table>
            </div>

            <div id="tabInvoicing" class="w3-border dataentry" style="display:none;min-height:400px;">
                <div class="w3-tiny" style="position:absolute;padding:15px;z-index:1;">
                    <span>
                        <a href="javascript:ShowHideAll('Show');">Expand All</a> / <a href="javascript:ShowHideAll('Hide');">Collapse All</a><a href="javascript:ToggleSubphaseStatusDisplay();" class="lnkActiveSubphaseToggle" style="margin-left: 100px; width: 120px;">Show Active Status Only</a>
                    </span>
                </div>
                <button type="button" onclick="OpenModal('ExportTable');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large" style="float:right;margin-top:2px;margin-right:16px;z-index:1;">Export Table</button>
                <span class="w3-small" style="font-weight:bold;position:absolute;left:82vw;top:145px;z-index:100;"><input type="checkbox" id="chkInvoiceSentToPM" onchange="SaveProjectFlagAsNote(this);" />&nbsp;<label for="chkInvoiceSentToPM">Invoice Sent To PM</label></span>
                <h4 style="font-weight: bold; margin-top: -5px;">Invoicing</h4>
                <button type="button" id="btnInvoiceAllWIP" onclick="InvoiceAllWIP();" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large" style="margin-top:-63px;margin-left:40vw;">Invoice All WIP</button>
                <div style="position:absolute;width:91%;margin-top:-25px;"><label>Billing Terms: </label><label id="lblBillingTerms" style="text-decoration:underline;">Billing Terms</label></div>
                <button type="button" id="btnInvoicingCarryNotesForward" onclick="CarryNotesForward(this, 'Invoicing');" class="w3-button w3-tiny w3-teal w3-hover-nei w3-round-large carry-notes-forward" style="float:right;margin-bottom:5px;margin-right:2px;padding:3px;z-index:1;">Carry All Notes Forward</button>
                <input type="checkbox" id="chkInvoicingCarryNotesForward" title="chkInvoicingCarryNotesForward" style="display:none;" />
                <table id="tblInvoicing" class="w3-table w3-striped w3-small" width="100%">
                    <thead id="tblInvoicingHead">
                        <tr><th class="dataentryshowhide"></th><th><label class="lblClientName"></label></th><th>Status</th><th>Compensation</th><th>Spent Total</th><th>Spent %</th><th>Invoiced</th><th>Inv&nbsp;%</th><th>New Inv&nbsp;%</th><th>WIP Total</th><th>WIP Current</th><th>WIP Held</th><th>Exp Unbilled</th><th>WIP Check</th><th>Amt to Invoice</th><th>WIP&nbsp;to Close&nbsp;Out</th><th>Amt&nbsp;to Hold</th><th>Amt&nbsp;to Delete</th><th>Amt to Transfer</th><th>Notes&nbsp;/<br />Questions</th></tr>
                    </thead>
                    <tbody id="tblInvoicingData"></tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<!-- Modal Dialog for Notes and Questions/Responses-->
<div id="divModal" class="w3-modal" data-saveref="">
    <div class="w3-modal-content w3-card-4 w3-animate-top draggable">
        <header class="w3-container w3-nei w3-display-container">
            <span onclick="$('#divModal').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4 id="ModalHeading" style="cursor: move;">Modal Heading</h4>
        </header>
        <div class="w3-container">
            <div id="modalNotes" class="w3-hide">
                <h4><label for="txtNotes">Note Text:</label></h4>
                <textarea id="txtNotes" style="width:100%;height:25vh;"></textarea>
            </div>

            <div id="modalIssues" class="w3-hide">
                <div class="w3-bar w3-black w3-border-bottom" style="margin-top:4px;">
                    <button id="btnModalIssuesTabETC" class="modaltablink w3-bar-item w3-button" onclick="ShowModalIssuesTab(this, 'divETCIssues');">ETC</button>
                    <button id="btnModalIssuesTabProjectDetail" class="modaltablink w3-bar-item w3-button" onclick="ShowModalIssuesTab(this, 'divProjectDetailIssues');">Project Details</button>
                    <button id="btnModalIssuesTabInvoicing" class="modaltablink w3-bar-item w3-button" onclick="ShowModalIssuesTab(this, 'divInvoicingIssues');">Invoicing</button>
                </div>

                <div id="divETCIssues" class="w3-container ModalIssuesTab">
                    <h4>ETC Issues</h4>
                    <div id="ETCIssuesContent"></div>
                </div>
                <div id="divProjectDetailIssues" class="w3-container ModalIssuesTab">
                    <h4>Project Details Issues</h4>
                    <div id="ProjectDetailIssuesContent"></div>
                </div>
                <div id="divInvoicingIssues" class="w3-container ModalIssuesTab">
                    <h4>Invoicing Issues</h4>
                    <div id="InvoicingIssuesContent"></div>
                </div>
            </div>

            <div id="modalQuestions" class="w3-hide"></div>

            <div id="modalTableData" class="w3-hide" style="max-height:500px;overflow-y:auto;"></div>
        </div>
        <footer class="w3-container w3-white w3-border w3-padding">
            <div class="w3-bar">
                <button id="btnModalCancel" class="w3-bar-item w3-button w3-amber w3-right w3-round-large" onclick="$('#divModal').hide();">Cancel</button>
                <button id="btnModalClose" class="w3-bar-item w3-button w3-amber w3-right w3-round-large" onclick="$('#divModal').hide();">Close</button>
                <button id="btnModalSave" class="w3-bar-item w3-button w3-teal w3-right w3-round-large" onclick="ModalSave(this);">Save</button>
            </div>
        </footer>
    </div>
</div>