﻿@{
    ViewBag.Title = "Start";
}


<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="~/Content/Images/Solar-panels-04.png" alt="panels" class="w3-opacity" style="width:100%;min-height:350px;max-height:600px;">
    <img src="~/Content/Images/nei_logo_white1.png" class="w3-display-topleft" alt="panels" style="width:85px;margin-top:50px;margin-left:50px;">
    <div class="w3-container w3-display-middle w3-white light-box-shadow w3-padding-16" style="width:30vw;">
        <div><center><img src="~/Content/Images/nei-separator.png" class="w3-image" style="" /></center></div>
        <div><h2 class="w3-center"><strong>PTI</strong></h2></div>
        <div><h3 class="w3-center">Project Tracking and Invoicing</h3></div>
    </div>
    <div class="w3-container w3-display-bottomleft w3-margin-bottom w3-hide"> <!--HIDDEN. Keeping as example of modal dialog-->
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-large w3-teal w3-hover-nei w3-round-xlarge" title="Start new invoicing period">Start New Invoicing Period</button>
    </div>
    <div class="w3-container w3-display-bottomright w3-margin-bottom">
        <label class="w3-text-white" title="Connected Database: @PTI.Models.Common.ConnectedDatabaseName()">Version: @typeof(PTI.MvcApplication).Assembly.GetName().Version</label>
    </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-nei w3-display-container">
            <span onclick="$('#id01').hide();" class="w3-button w3-nei w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4>New Invoicing Period</h4>
        </header>
        <div class="w3-container">
            <p>Enter invoicing period start and end dates, then click Continue</p>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Start Date</label>
                    <input id="InvoicingPeriodStartDate" class="w3-input w3-border" type="date" />
                </div>
                <div class="w3-half">
                    <label>End Date</label>
                    <input id="InvoicingPeriodEndDate" class="w3-input w3-border" type="date" />
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <footer class="w3-container w3-white w3-border w3-border-nei w3-padding">
            <div class="w3-bar">
                <button class="w3-bar-item w3-button w3-amber w3-right w3-round-large" onclick="$('#id01').hide();">Cancel</button>
                <button class="w3-bar-item w3-button w3-teal w3-right w3-round-large" onclick="$('#id01').hide();">Continue</button>
            </div>
        </footer>
    </div>
</div>

<!--Spacer-->
<div style="height:25vh;"></div>
